@charset "utf-8";
//Bulma SASS
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
// Aqui van todas la variables personalizadas que necesitemos
$dropdown-item-color: $grey-dark;
$dropdown-item-hover-color: $black;
@import "../../node_modules/bulma/bulma";
$fa-font-path: "~font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/buefy/src/scss/buefy.scss";
@import "../../node_modules/bulma-extensions/extensions.sass";

.hero.is-dark a:not(.button) {
    color: #4a4a4a !important;
}

.hero.is-dark .box {
    color: #4a4a4a !important;
}

.hero.is-primary a:not(.button) {
    color: #4a4a4a !important;
}

.title-dark {
    color: #000000 !important;
}

.navbar-item.is-mega {
    position: static;
    .is-mega-menu-title {
        margin-bottom: 0;
        padding: .375rem 1rem;
    }
}

.user-image {
    margin-top: -10px;
    padding-bottom: 10px;
}

.user-image img {
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}

.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

.box-login {
    margin-top: 5rem;
}

label.required:before {
    content: "* " !important;
}

@media (min-width: 768px) {
    @-webkit-keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .sf-toolbar {
        opacity: 0;
        -webkit-animation: fade-in 1s .2s forwards;
        animation: fade-in 1s .2s forwards;
    }
}
