<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}{% endblock %}
        {% block stylesheets_secondary %}{% endblock %}
    {% block javascript_header %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    {% block menu %}
        {% include 'default/navbar.html.twig' %}
    {% endblock %}
    <section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
    {% block content %}
        
    {% endblock %}
    </div>
    {% block footer %}
        {% include 'default/footer.html.twig' %}
    {% endblock %}
    </section>
{% endblock %}
{% block modals %}{% endblock %}

{% block javascripts %}
    
{% endblock %}
</body>

</html>