{% extends 'base.html.twig' %}
{% if form is defined %}
    {% form_theme form 'Form/bulma_horizontal_layout.html.twig' %}
{% endif %}
{% block content %}
    <div class="container has-text-centered">
        <div class="columns is-mobile">
            <div class="column is-8-desktop is-11-mobile is-11-fullhd is-offset-1-mobile is-8-tablet is-offset-2-fullhd is-offset-1-tablet">
                <div class="box">
                    {{form_start(form)}}
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
